@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*----------------header-----------------------*/

header {
  height: 12vh;
  border: 1px solid red;
}

.img-logo {
  width: 80px;
  height: 80px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border: 1px solid green;
}

.hamburguer {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border: 1px solid yellow;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid brown;
}

header ul li a {
  margin-left: 3rem;
}
