* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: auto;
}

.head_container {
  max-width: 90%;
  margin: auto;
}

/*----------------header-----------------------*/

header {
  height: 12vh;
}

.img-logo {
  width: 80px;
  height: 80px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.hamburguer {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 3rem;
}

header ul li a {
  font-size: 1.5rem;
  font-weight: 400;
  color: #524446;
  transition: 0.5s;
}

header ul li a:hover {
  color: #3f9cc1;
}

@media only screen and (max-width: 1280px) {
  header {
    height: 9vh;
  }

  .img-logo {
    width: 100px;
    height: 100px;
  }

  header ul {
    display: block;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadown: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  header ul.active {
    left: 0%;
  }

  header ul li {
    margin: 2.5rem 0;
  }

  header ul li a {
    color: black;
  }

  .hamburguer {
    display: block;
    cursor: pointer;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*----------------Início-----------------------*/

.inicio .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.inicio .text {
  max-width: 50%;
  color: black;
  font-weight: 500;
  margin: 5% 0 0 10%;
}

.inicio h1 {
  font-size: 60px;
  font-weight: 500;
  color: #524446;
  text-shadow: 1px 1px 2px black;
}

.inicio h1 span {
  font-size: 80px;
  color: #537cb6;
  text-shadow: 1px 1px 2px black;
}
.inicio p {
  font-weight: 500;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-opacity: 0.2;
  padding: 15px;
}

.inicio button {
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  border: 2px solid #524446;
  border-radius: 50px;
  color: #524446;
  margin-top: 20px;
  font-weight: bold;
}

/* .inicio button {
  margin-left: 50px;
} */

.inicio .image_item {
  position: absolute;
  top: 30%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.inicio .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.inicio .image_item img.active {
  border: 2px solid white;
}

.inicio .box .text {
  position: relative;
}

.inicio .box .text::after {
  position: absolute;
  content: "M";
  font-size: 500px;
  top: -30%;
  left: 10%;
  font-weight: bold;
  opacity: 0.1;
}

.changeColor {
  color: #c1b086;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .inicio .image_item {
    top: 85%;
    left: 2%;
    right: 0;

    flex-direction: row;
  }

  .inicio h1 {
    margin: 5rem 0 2rem 0;
    font-size: 40px;
  }

  .inicio .image_item {
    top: 20%;
    left: 75%;
    right: 0;

    flex-direction: column;
  }

  .inicio .image_item img {
    width: 130px;
    height: 100px;
    margin: 8px;
    transition: 0.5s;
  }

  .inicio .box .text::after {
    position: absolute;
    content: "M";
    font-size: 400px;
    top: -10%;
    left: 40%;
    font-weight: bold;
    opacity: 0.1;
  }
}

@media screen and (max-width: 650px) {
  .inicio .text {
    max-width: 100%;
    height: 100%;
    color: black;
    font-weight: 500;
    margin-bottom: 300px;
  }

  .inicio h1 {
    margin: 5rem 0 2rem 0;
    font-size: 30px;
  }

  .inicio h1 span {
    font-size: 40px;
  }
  .inicio p {
    font-size: 15px;
    margin-top: 12px;
    padding: 10px;
  }

  .inicio button {
    border: 1px solid #524446;
    border-radius: 50px;
  }
  .inicio .image_item {
    top: 80%;
    left: 4%;
    right: 0;

    flex-direction: row;
  }

  .inicio .image_item img {
    width: 55px;
    height: 45px;
    margin: 8px;
    transition: 0.5s;
  }

  .inicio .box .text::after {
    position: absolute;
    content: "M";
    font-size: 200px;
    top: -10%;
    left: 50%;
    font-weight: bold;
    opacity: 0.1;
  }
}

/*----------------Sobre-----------------------*/
.containerSobre {
  display: flex;
  flex-direction: row;
}
.top {
  margin-top: 20%;
}

.mtop {
  margin-top: 5%;
}

.right {
  width: 40%;
}

.left {
  width: 50vw;
}

.sobre {
  margin-bottom: 40px;
}

.sobre .img {
  position: relative;
}

.sobre .image1 {
  width: 500px;
  height: 450px;
}
.sobre .image1 {
  position: absolute;
  left: 100px;
}
.sobre .image2 {
  width: 400px;
  height: 320px;
  position: absolute;
  bottom: -560px;
  z-index: 2;
  right: 6%;
}

.heading {
  position: relative;
}
.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100px;
  height: 4px;
  background: #c1b086;
}

.heading h4 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222222;
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 3px;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .containerSobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;

    font-weight: 400;
  }
  .right {
    width: 100%;
  }

  .top {
    margin-top: 45%;
  }

  .sobre .image1 {
    width: 550px;
    height: 320px;
    /* display: none; */
    top: 530px;
    left: -70px;
  }

  .sobre .image2 {
    width: 40px;
    height: 32px;
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .containerSobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
  }

  .right {
    width: 100%;
  }

  .top {
    margin-top: 50%;
  }

  .sobre .image1 {
    width: 250px;
    height: 150px;
    /* display: none; */
    top: 1030px;
    left: -30px;
  }

  .sobre .image2 {
    width: 40px;
    height: 32px;
    display: none;
  }
}

/*----------------Wrapper1-----------------------*/

.wrapper {
  background-image: url("/assets/c16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 950px;
  position: relative;
}

.wrapper .text {
  background: #3f9cc1;
  padding: 50px;
  width: 30%;
  height: 850px;
  position: absolute;
  top: 30px;
  right: 50px;

  padding-top: 100px;
  color: white;
}

.wrapper .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.wrapper h2 {
  font-weight: 400;
}

.wrapper p {
  margin: 20px 0 50px 0;
  line-height: 30px;
}

.wrapper i {
  margin: 5px 20px 0 0;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .wrapper {
    background-image: url("/assets/c16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
  }

  .wrapper .text {
    background: #3f9cc1;
    padding: 50px;
    width: 100%;
    height: 700px;
    position: absolute;
    top: 30px;
    left: 20px;

    padding-top: 80px;
    color: white;

    margin-bottom: 200px;
  }

  .wrapper i {
    margin: 5px 5px 5px 5px;
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    background-image: url("/assets/c16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1200px;
    position: relative;
  }

  .wrapper .text {
    background: #3f9cc1;
    padding: 50px;
    width: 100%;
    height: 1150px;
    position: absolute;
    top: 30px;
    left: 20px;

    padding-top: 80px;
    color: white;

    margin-bottom: 200px;
  }

  .wrapper i {
    margin: 5px 5px 5px 5px;
  }
}

/*----------------Quartos-----------------------*/
.topQuartos {
  margin: 80px;
}
.quartos .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.imgQuarto1,
.imgQuarto2,
.imgQuarto3,
.imgQuarto4,
.imgQuarto5 {
  width: 550px;
}

.imgQuarto3 {
  width: 550px;
  height: 412px;
}
.imgQuarto4 {
  width: 550px;
  height: 414px;
}

.quartos .boxQuartos {
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}

.quartos .text {
  padding: 20px;
}

.quartos h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.quartos p {
  font-size: 20px;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .topQuartos {
    margin-top: 50px;
  }
  .quartos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quartos .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .imgQuarto1,
  .imgQuarto2,
  .imgQuarto3,
  .imgQuarto4,
  .imgQuarto5 {
    width: 530px;
  }
}

@media screen and (max-width: 650px) {
  .topQuartos {
    margin-top: 50px;
  }
  .quartos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quartos .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .imgQuarto1,
  .imgQuarto2,
  .imgQuarto3,
  .imgQuarto4,
  .imgQuarto5 {
    width: 330px;
  }
}

/*----------------Wrapper2-----------------------*/

.wrapper2 {
  background-image: url("../assets/cn15.jpg");
  background-position: center;
  height: 600px;
}

.wrapper2 .text {
  left: 10%;
}

.wrapper2 h5,
.wrapper2 h2 {
  color: white;
}

.wrapper2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper2 .para h5 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

.wrapper2 .text {
  /* background-color: red; */
  height: 500px;
  padding-top: 40px;
}
.wrapper4 .text {
  /* background-color: red; */
  height: 550px;
  padding-top: 40px;
}

/*----------------Wrapper3-----------------------*/

.wrapper3 {
  background-image: url("../assets/cn19.jpg");
  background-position: center;
}

/*----------------Wrapper4-----------------------*/

.wrapper4 {
  background-image: url("../assets/cn18.jpg");
  background-position: center;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .wrapper2 .text {
    padding-right: 200px;
  }
  .wrapper4 .text {
    padding-right: 200px;
  }
}

@media screen and (max-width: 650px) {
  .wrapper2 .text {
    left: -65px;
    padding-right: 30px;
  }
  .wrapper4 .text {
    height: 600px;
    padding-right: 30px;
  }
}

/*----------------Breakfast-----------------------*/
.breakfast {
  background-color: #ffd97c;
}
.flex1 {
  display: flex;
}

.breakfast img {
  width: 100%;
  height: 100%;
}

.breakfast .right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 50px 100px;
}

.breakfast h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

.breakfast .text p {
  margin-bottom: 50px;
  line-height: 25px;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .flex1 {
    display: flex;
    flex-direction: column;
  }

  .breakfast img {
    width: 100vw;
    height: 500px;
  }

  .breakfast .right {
    padding: 20px 20px 20px 20px;

    font-weight: 400;
  }
}

@media screen and (max-width: 650px) {
  .flex1 {
    display: flex;
    flex-direction: column;
  }

  .breakfast img {
    width: 500px;
    height: 500px;
  }

  .breakfast .right {
    padding: 20px 20px 20px 20px;

    font-weight: 400;
  }
}

/*----------------Carrosel-----------------------*/

.swiper-slide img {
  box-shadow: 0 1px 2px #0003;
  width: 800px;
  height: 700px;
}

.swiper {
  margin-top: 100px;
  height: 730px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
@media (max-width: 450px) {
  .swiper {
    height: 270px;
  }
} */

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 650px) {
  .swiper-slide img {
    box-shadow: 0 1px 2px #0003;
    width: 300px;
    height: 275px;
  }

  .swiper {
    margin-top: 100px;
    height: 500px;
    width: 200px;
  }
}

/*----------------Localização-----------------------*/

.map iframe {
  width: 100%;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 650px) {
  .map iframe {
    margin-top: -200px;
    width: 100%;
  }
}

/*----------------Contato----------------------*/

.flex2 {
  gap: 150px;
}

.box .title-payment {
  margin-top: 20px;
}

.box .payment {
  margin-top: 5px;
  font-weight: 400;
}

.box .title-footer {
  margin-bottom: 20px;
  color: #3f9cc1;
}

footer li {
  list-style-type: circle;
  margin-bottom: 15px;
  font-weight: 400;
  transition: 0.5s;
}
footer li:hover {
  color: #3f9cc1;
  cursor: pointer;
}

.contact-numbers {
  margin-left: 8px;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .flex2 {
    gap: 20px;
  }
}

@media screen and (max-width: 650px) {
  .flex2 {
    gap: 50px;
  }
}
