* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: auto;
}

.head_container {
  max-width: 90%;
  margin: auto;
}

/*----------------header-----------------------*/

header {
  height: 12vh;
}

.img-logo {
  width: 80px;
  height: 80px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.hamburguer {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 3rem;
}

header ul li a {
  font-size: 1.5rem;
  font-weight: 400;
  color: #524446;
  transition: 0.5s;
}

header ul li a:hover {
  color: #c1b086;
}

@media only screen and (max-width: 768px) {
  header {
    height: 9vh;
  }

  .img-logo {
    width: 100px;
    height: 100px;
  }

  header ul {
    display: block;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadown: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  header ul.active {
    left: 0%;
  }

  header ul li {
    margin: 2.5rem 0;
  }

  header ul li a {
    color: black;
  }

  .hamburguer {
    display: block;
    cursor: pointer;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*----------------Início-----------------------*/

.inicio .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.inicio .text {
  max-width: 50%;
  color: black;
  font-weight: 500;
  margin: 5% 0 0 10%;
}

.inicio h1 {
  font-size: 60px;
  font-weight: 500;
  color: #524446;
}

.inicio h1 span {
  font-size: 80px;
  color: #537cb6;
}
.inicio p {
  font-weight: 500;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 20px;
  margin: 50px 0 0 50px;
}

.inicio button {
  padding: 20px 40px;
  background: none;
  outline: none;
  border: 2px solid #524446;
  border-radius: 50px;
  color: #524446;
  margin-top: 20px;
}

.inicio button {
  margin-left: 50px;
}

.inicio .image_item {
  position: absolute;
  top: 30%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.inicio .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.inicio .image_item img.active {
  border: 2px solid white;
}

.inicio .box .text {
  position: relative;
}

.inicio .box .text::after {
  position: absolute;
  content: "M";
  font-size: 500px;
  top: -30%;
  left: 10%;
  font-weight: bold;
  opacity: 0.1;
}
